  <br>
  <div class="container contenedor-animes">
  <div class="row">
    <!-- COMPLETAR CON EL LLAMADO A UNA FUNCIÓN PROPIA QUE CALCULE EL RATING PROMEDIO -->
    <p>El rating promedio es <span class="badge text-bg-primary rounded-pill">   {{promedio}}
 </span></p>
    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedBAnime"></app-anime-detail>
      <hr>
    </div>
    <div class="col-4" *ngFor="let anime of animes">
      <div class="card" style="width: 14rem;"><div class="card" style="width: 14rem;">
        <img src={{anime.img}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{anime.name}}</h5>
          <p class="card-text">⭐{{anime.Rating}}</p>
          <p class="card-text"><b>Categories: </b>{{anime.categorie}}</p>
          <p class="card-text"><b># seasons: </b>{{anime.seasons.length}}</p>
          <a class="btn btn-primary" href="# " role="button" routerLink ="anime/id" >More information</a>
        </div>
        
      </div>
   </div>

  </div>
</div>
